@charset "utf-8";
/**
 *  Hoja de estilo para manejo de barra accesible
 *  Empresa: Tecnoayudas Ltda
 *  Por: Javier Saldarriaga
 *  derechos reservados (c) 2012. Tecnoayudas Ltda
 *  Fecha creación: Enero de 2011
 *  Función: brinda apariencia y funcionalidad a las herramientas de accesibilidad Web
 *
**/

div#Salto_a_contenido a {
  display: none;
}

div#contenido_ini a {
  display: none;
}


/*------------------------------Menu Accesible Encabezado--------------------*/
#Menu_accesible{
	width:100%;
	height:40px;
	position:relative;
	margin:0 auto;
	background-color:#333333;
	color:#FFFFFF;
	margin-top:0px;
	background:url(../images/fondo_barra.jpg);
	padding-bottom:3px;
}
#Menu_accesible ul{
	width:100%;
	height:30px;
	position:absolute;
	left:110px;   /*  posicion desde borde izquierdo al a barra menu*/
	top:10px;  /*  pocision del texto dentro de la barra*/
	padding-top: 0;
	padding-right: 0;
	padding-left: 0px;
	list-style:none;
	margin:0 1px 0  0;
	margin-left:40px;
	visibility: inherit;
	
	
}
#Menu_accesible ul li{

	height:30px;
	float:left;
	padding:0 1px 0 0;
	margin:0 1px 0 0;

}
#Menu_accesible ul li a{
	display:block;
	width:110px;
	height:30px;
	display:block;
	font:10px/20px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	background-color:inherit;
}
#Menu_accesible ul li a:hover{
	width:110px;
	height:30px;
	color:#FFCC00;
	background-color:inherit;
}
#Menu_accesible ul li a.hover{
	margin:0 1px 0 0;
 	display:block;
	font:bold 10px/20px Arial, Helvetica, sans-serif;
	color:#FFCC00;
	text-decoration:none;
	text-transform:uppercase;
	text-align:left;
	background-color:inherit;
}
#Menu_accesible ul li.last{
	background-image:none;
	height:30px;
	float:left;
}
#Menu_accesible img{
border:0px;
vertical-align:middle;



}
/*-------------------- FIN Menu Accesible Encabezador --------------------*/

#caja_cambiotexto{
		border:0px dashed #a0a0a0;
		}
		
#caja_cambiotexto a{
			font-size:12px;
			font-family:Arial,sans-serif;
			text-decoration:none;
			color:#909090;
			display:block;
			float:left;
			padding:0px 0px;
		}
	

.Caja_lengua_senas{
position:fixed;
top: -500px;
left: 0;
padding: 5px;
visibility: hidden;
border:2px solid #FFCC00;
font:normal 12px Verdana;
/*line-height:*/: 18px;
z-index: 200;
background-color: white;
width: 100px;
text-align:center;


}

#arrowhead{
z-index: 99;
position:absolute;
top: -500px;
left: 0;
visibility: hidden;
}
