/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0; height: auto;  width: 100%; }
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; } /* Hide the slides before the JS is loaded. Avoids image jumping */
  .single-portfolio-item-slider{
  	float: left;
  	height: auto;
  }
/*
.flexslider.portfolio-items-slider{ max-height: 147px;  }
.flexslider.portfolio-items-slider.third{ min-height: 207px;  }
.flexslider.portfolio-items-slider.half{ min-height: 317px;  }*/

/*.flexslider .slides.round img{border-radius: 4px;}*/
.flexslider .slides img{width: 100%;height: auto;}
/*
.flexslider.clients .flex-direction-nav{display: none; }
.clients-wrapp:hover .flex-direction-nav{display: block;}*/
.flexslider.clients .slides{margin-bottom: 0px;}

.flexslider.portfolio-items-slider .slides img {border-radius: 4px 4px 0px 0px; }
.flex-pauseplay span {text-transform: capitalize;}
 

 .flexslider { margin: 0 0 0px; position: relative;zoom: 1; }
 
.flexslider .slides { zoom: 1; }
.flexslider .slides li {
	/*line-height:*/: 1px;
}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden;  height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative;  zoom: 1; }
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
 .loading {min-height:350px;margin:0 auto; background: url("../../images/loading.gif") no-repeat center center;}
.carousel li {margin-right: 5px}


 

 