#banner-slide{
	clear: left;
}
ul.bjqs-controls.v-centered li a{
	background:rgba(0,0,0,0.25);
	border-radius: 50%;
	color:#fff;
	display:block;
	font-size: 25px;
	font-weight: bold;
	padding: 5px 15px;	
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#00AEEF;
	color:#fff;
}

ol.bjqs-markers li a{
	padding:5px 10px;
	background:none;
	border: 1px solid #999;
	border-radius: 50%;
	box-shadow: 0 2px #FFF;
	color:#999;
	font-size: 11px;
	margin:5px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #00AEEF;
	border: 1px solid rgba(0,0,0,0.00);
	color: #fff;
	
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}