#featured{
	width:698px;
	padding-right:260px;
	position:relative;
	height:277px;
	border: 2px solid #FFF;
}
#featured ul.ui-tabs-nav{
	position:absolute;
	top:0;
	list-style:none;
	padding:0;
	margin:0;
	width:260px;
	background: #00aeef;
	height: 277px;

}
#featured ul.ui-tabs-nav li{ 
	position: relative;
	top: 20px;
	font-size:22px; 
	color:#666;
	display: block; 
	
	border-bottom: 1px dashed #FFF;
	
	text-shadow: -1px -1px 0px #219bcf;
	
	padding: 10px 20px;
	
}

#featured ul.ui-tabs-nav li img{
	float:left;
	margin:2px 5px;
	background:#00aeef;
	padding:2px;
	border:1px solid #eee;
}
#featured ul.ui-tabs-nav li span{ 
	font-size:26px; 
	/*line-height:18px;*/
	color: #FFF; 
	
}
#featured ul.ui-tabs-nav li span:hover{ 
	font-size:26px; 
	
	color: #333; 
	text-shadow: none;
}
#featured li.ui-tabs-nav-item a{ 
	display:block; 
	background:#00aeef; 
	
	
}
#featured li.ui-tabs-nav-item a:hover{ 
	
	background-color: #00aeef;
	
}
#featured li.ui-tabs-selected{ 
	
	
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a{
	
	padding: 15px 0;
	
	
}

#featured .ui-tabs-panel{
	width:700px;
	height:277px;
	position:relative;
	left: 260px;
}
#featured .ui-tabs-panel .info{ 
	position:absolute; 
	top:180px; left:0; 
	height:70px; 
	background: url('images/transparent-bg.png'); 
}
#featured .info h2{ 
	font-size:18px; font-family:Georgia, serif; 
	color:#fff; padding:5px; margin:0;
	overflow:hidden; 
}
#featured .info p{ 
	margin:0 5px; 
	font-family:Verdana; font-size:11px; 
	line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
#featured .ui-tabs-hide{ 
	display:none; 
}

/*---------------------------------*/

.i-btn-prog-pregados {

	position: relative;
	text-align: center;
	left: 120px;
	top: 15px;
	float: left;
	
	z-index: 1000;
	display: block;
	height: 54px;
	width: 230px;
	
	background: url('../exportes/i-slider-btn-programas.png') no-repeat left top;
	
}

.i-btn-prog-pregados:hover {
	background-position: 0px -54px ;
}

.i-btn-prog-interesado {
	position: relative;
	text-align: center;
	left: 130px;
	top: 15px;
	float: left;
	
	z-index: 1000;
	display: block;
	height: 54px;
	width: 230px;
	
	background: url('../exportes/i-slider-btn-programas.png') no-repeat right top;
	
}
.i-btn-prog-interesado:hover {
	background-position: -230px -54px;
}

