#slide-programas {
	position: relative;
	height: 277px;
}

#example {
	position: relative;
	float: left;
	width: 960px;
	height: 277px;
	margin-bottom: 30px;
	z-index: 0;
	
}

#example_3 {
	position: relative;
	float: left;
	width: 960px;
	height: 277px;
	margin-bottom: 10px;
	z-index: 1;
	
}

#example_1 {
	position: relative;
	float: left;
	width: 695px;
	height: 200px;
	margin-bottom: 10px;
	margin-top: 10px;
	z-index: 1;
}


.i-btn {
	position: absolute;
	text-align: center;
	left: 150px;
	top: 200px;
	
	
	z-index: 1000;
	display: block;
	height: 55px;
	width: 230px ;
	
	background: url('../exportes/i-slider-btn.png') no-repeat left top;

}
.i-btn:hover  {
	background-position: -230px 0;
}


.i-btn-prog-pregados {

	position: absolute;
	text-align: center;
	left: 360px;
	top: 210px;
	
	
	z-index: 1000;
	display: block;
	height: 54px;
	width: 230px;
	
	background: url('../exportes/i-slider-btn-programas.png') no-repeat left top;
	
}

.i-btn-prog-pregados:hover {
	background-position: 0px -54px ;
}

.i-btn-prog-interesado {
	position: absolute;
	text-align: center;
	left: 600px;
	top: 210px;
	
	
	z-index: 1000;
	display: block;
	height: 54px;
	width: 230px ;
	
	background: url('../exportes/i-slider-btn-programas.png') no-repeat right top;
	
}
.i-btn-prog-interesado:hover {
	background-position: -230px -54px;
}



/* Common Constructions 
-------------------------------------------------------------------------*/

.i-slider-frame { 
	position: relative;
	z-index: 100;
	overflow: hidden;
	
	-moz-box-shadow: 0px 0px 2px #CCC;
	-webik-box-shadow: 0px 0px 2px #CCC;
	box-shadow: 0px 0px 2px #CCC;
}
.i-slider-sections { 
	float: left;
	position: relative;	
} 
.i-slider-section {
	position: relative;
	float: left;
}

/* Arrows 
-------------------------------------------------------------------------*/
.i-slider-arrows {
	position: absolute;
	z-index: 1000;
	background: url("../exportes/islider-arrows.png");
	cursor: pointer;
	
	top: 43%;
	width: 32px;
	height: 44px;
	
	opacity:0.8;
	filter:alpha(opacity=80);
}
.i-slider-arrows.previous 	{ left: -45px;  background-position: left; }
.i-slider-arrows.next 		{ right: -45px; background-position: right; }


#slide-programas .i-slider-arrows {
	display: none;
}
#example-ciberco .i-slider-arrows {
	display: none;
}


/* List navigation
-------------------------------------------------------------------------*/
.i-slider-switcher-wrap {
	position: absolute;
	z-index: 2;
	width: 100%;
	
	left: 0px;
	bottom: 0px;
}
.i-slider-listNav {
	position: relative;
	display: block;
	z-index: 1000;
	padding: 0;
	margin: 0;	
	bottom: -25px;
	width: 100%;
	height: 12px;
	line-height: 10px;
	font-size: 10px;
	text-align: center;
}
.i-slider-listNav li {
	display: inline;
	list-style: none;
	padding: 6px;
	
	line-height: 1px;
	font-size: 1px;
	background: url("../exportes/islider-switcher.png") no-repeat right;
	cursor: pointer;
}
.i-slider-listNav li.active {
	background: url("../exportes/islider-switcher.png") no-repeat left;
}

#slide-programas .i-slider-listNav{
	display: none;
}

#example-ciberco .i-slider-listNav {
	display: none;
}

/* Thumbnails navigation
-------------------------------------------------------------------------*/
.i-slider-listNavThumbs {
	position: relative;
	display: block;
	z-index: 1000;
	
	margin: 0;
	bottom: -60px;	
	width: 100%;
	text-align: center;	
}
.i-slider-listNavThumbs li {
	display: inline;
	list-style: none;
	margin: 3px;
}
.i-slider-listNavThumbs li img {
	border: solid 4px #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
}
.i-slider-listNavThumbs li.active img {
	border: solid 1px #ddd;
	padding: 3px;	
}

/* Captions
--------------------------------------------------------------------------*/
.i-slider-captions {
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
}
.i-slider-captions.bottom 	{ bottom: 15px; }
.i-slider-captions.top	 	{ top: 15px; }

.i-slider-captions .inner {
	display: inline-block;
	background: black;
	color: white;
	padding: 10px 15px;
	font-size: .8em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	filter: alpha(opacity=75);
	-moz-opacity:0.75;
	-khtml-opacity: 0.75;
	opacity: .75;
	
	max-width: 90%;
	
	text-transform: uppercase;
}



