/* GOOGLE WEB FONTS
-------------------------------------------------------*/
	body {
		font-family: "Open Sans", "OpenSansRegular", "Trebuchet MS", sans-serif, Arial;
		
	}
	@font-face {
	    font-family: 'Open Sans';
	    src: url('fonts/OpenSans-Regular.eot');
	    src: url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
	         url('fonts/OpenSans-Regular.woff') format('woff'),
	         url('fonts/OpenSans-Regular.ttf') format('truetype'),
	         url('fonts/OpenSans-Regular.svg#OpenSansRegular') format('svg');
	    font-weight: 400;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Open Sans';
	    src: url('fonts/OpenSans-Light.eot');
	    src: url('fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
	         url('fonts/OpenSans-Light.woff') format('woff'),
	         url('fonts/OpenSans-Light.ttf') format('truetype'),
	         url('fonts/OpenSans-Light.svg#OpenSansRegular') format('svg');
	    font-weight: 300;
	    font-style: normal;
	}
	@font-face {
	    font-family: 'Open Sans';
	    src: url('fonts/OpenSans-Semibold.eot');
	    src: url('fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
	         url('fonts/OpenSans-Semibold.woff') format('woff'),
	         url('fonts/OpenSans-Semibold.ttf') format('truetype'),
	         url('fonts/OpenSans-Semibold.svg#OpenSansRegular') format('svg');
	    font-weight: 600;
	    font-style: normal;
	}
	@font-face {
	    font-family: 'Lato';
	    src: url('fonts/Lato-Regular.eot');
	    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
	         url('fonts/Lato-Regular.woff') format('woff'),
	         url('fonts/Lato-Regular.ttf') format('truetype'),
	         url('fonts/Lato-Regular.svg#OpenSansRegular') format('svg');
	    font-weight: 300;
	    font-style: normal;
	}
	
	
	/* Generated by Font Squirrel (http://www.fontsquirrel.com) on May 7, 2012 10:09:07 AM America/New_York */
	
	
	
	@font-face {
	    font-family: 'OpenSansLight';
	    src: url('fonts2/OpenSans-Light-webfont.eot');
	    src: url('fonts2/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fonts2/OpenSans-Light-webfont.woff') format('woff'),
	         url('fonts2/OpenSans-Light-webfont.ttf') format('truetype'),
	         url('fonts2/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
	    font-weight: normal;
	    font-style: normal;
	
	}
	
	@font-face {
	    font-family: 'OpenSansLightItalic';
	    src: url('fonts2/OpenSans-LightItalic-webfont.eot');
	    src: url('fonts2/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fonts2/OpenSans-LightItalic-webfont.woff') format('woff'),
	         url('fonts2/OpenSans-LightItalic-webfont.ttf') format('truetype'),
	         url('fonts2/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
	    font-weight: normal;
	    font-style: normal;
	
	}
	
	@font-face {
	    font-family: 'OpenSansRegular';
	    src: url('fonts2/OpenSans-Regular-webfont.eot');
	    src: url('fonts2/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fonts2/OpenSans-Regular-webfont.woff') format('woff'),
	         url('fonts2/OpenSans-Regular-webfont.ttf') format('truetype'),
	         url('fonts2/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	
	}
	
	@font-face {
	    font-family: 'OpenSansItalic';
	    src: url('fonts2/OpenSans-Italic-webfont.eot');
	    src: url('fonts2/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fonts2/OpenSans-Italic-webfont.woff') format('woff'),
	         url('fonts2/OpenSans-Italic-webfont.ttf') format('truetype'),
	         url('fonts2/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
	    font-weight: normal;
	    font-style: normal;
	
	}
	
	@font-face {
	    font-family: 'OpenSansSemibold';
	    src: url('fonts2/OpenSans-Semibold-webfont.eot');
	    src: url('fonts2/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fonts2/OpenSans-Semibold-webfont.woff') format('woff'),
	         url('fonts2/OpenSans-Semibold-webfont.ttf') format('truetype'),
	         url('fonts2/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
	    font-weight: normal;
	    font-style: normal;
	
	}
	
	@font-face {
	    font-family: 'OpenSansSemiboldItalic';
	    src: url('fonts2/OpenSans-SemiboldItalic-webfont.eot');
	    src: url('fonts2/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fonts2/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
	         url('fonts2/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
	         url('fonts2/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
	    font-weight: normal;
	    font-style: normal;
	
	}
	
	@font-face {
	    font-family: 'OpenSansBold';
	    src: url('fonts2/OpenSans-Bold-webfont.eot');
	    src: url('fonts2/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fonts2/OpenSans-Bold-webfont.woff') format('woff'),
	         url('fonts2/OpenSans-Bold-webfont.ttf') format('truetype'),
	         url('fonts2/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
	    font-weight: normal;
	    font-style: normal;
	
	}
	
	@font-face {
	    font-family: 'OpenSansBoldItalic';
	    src: url('fonts2/OpenSans-BoldItalic-webfont.eot');
	    src: url('fonts2/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fonts2/OpenSans-BoldItalic-webfont.woff') format('woff'),
	         url('fonts2/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
	         url('fonts2/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
	    font-weight: normal;
	    font-style: normal;
	
	}
	
	@font-face {
	    font-family: 'OpenSansExtrabold';
	    src: url('fonts2/OpenSans-ExtraBold-webfont.eot');
	    src: url('fonts2/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fonts2/OpenSans-ExtraBold-webfont.woff') format('woff'),
	         url('fonts2/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
	         url('fonts2/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
	    font-weight: normal;
	    font-style: normal;
	
	}
	
	@font-face {
	    font-family: 'OpenSansExtraboldItalic';
	    src: url('fonts2/OpenSans-ExtraBoldItalic-webfont.eot');
	    src: url('fonts2/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fonts2/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
	         url('fonts2/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
	         url('fonts2/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
	    font-weight: normal;
	    font-style: normal;
	
	}
	
	
/* TIPOGRAFIA heading p CUERPO
-------------------------------------------------------*/
	h1 {font-size: 50px;}
	h2 {font-size: 30px;}
	h3 {font-size: 24px;}
	h4 {font-size: 16px;}
	h5 {font-size: 14px;}
	h6 {font-size: 13px;}
	h7 {font-size: 20px;}
	
	p {
	font-size: 12px;
	color: #333333;
	/*line-height:*/: 20px;
	margin-bottom: 5px;
	}
	
	ul li {
		font-size: 12px;
		color: #333333;
	}
	h1 {
		font-weight: 200;
		color: #2e2c63;
		letter-spacing: -2px;
	}
	h2 {
		font-weight: 600;
		color: #2e2c63;
		letter-spacing: -2px;
	}
	
	h3 {
		font-weight: 600;
		color: #00aeef;
		letter-spacing: -1px;
	}
	h4 {
		font-weight: 600;
		color: #2e2c63;
		
	}
	h5 {
		font-weight: 300;
		color: #2e2c63;
		
	}
	h6 {
		color: #333;
		font-weight: 800;
	}
	
	h7 {
		color: #333;
		font-weight: 800;
		/*line-height:*/: 30px;
	}
	h1.font-ciber {
		font-family: "Cabin Sketch", "Open Sans", "OpenSansRegular", "Trebuchet MS", sans-serif, Arial;
		font-weight: 700;
		font-size: 60px;
	}
	.fecha-nombre {
		font-size: 10px;
		margin: 7px 0;
		display: block;
		color: #8b8b8b;
	}
	.fecha-nombre label {
		color: #fe8300;
	}
	.fecha-nombre2 {
		font-size: 12px;
		color: #8b8b8b;
		display: block;
	}
	.fecha-nombre2 label {
		color: #fe8300;
	}
	
	.usuario .fecha-nombre {
		font-size: 10px;
		margin: 7px 0;
		display: block;
		color: #8b8b8b;
	}
	.usuario label {
		color: #fe8300;
	}
/* LINK
-------------------------------------------------------*/
	a {
	text-decoration: none;
	}
	
	.linkatras {
		background:  url('../exportes/arrowartras.png')  no-repeat left center scroll;
		color: #00aeef;
	    padding-left: 20px;
		font-size: 13px;
		font-weight: 400;
		font-style: italic;
		float: right;
	}
	.linkatras:hover {
		color: #333;
		padding-left: 18px;
	
	}
	.linkmas {
		background:  url('../exportes/btn-mas.jpg')  no-repeat left center scroll;
		color: #00aeef;
	    padding-left: 20px;
		font-size: 13px;
		font-weight: 400;
		font-style: italic;
		float: right;
		
	}
	.linkmas:hover {
		color: #333;
		
		
	}
	 .menu .menu_blue .link li a {
		font-size: 20px;
	} 
	
	
	

/* MENU ACCESIBILIDAD 
-------------------------------------------------------*/
	#acceso a  {
		font-weight: 400;
		font-size: 11px;
		color: #FFF;
		text-shadow: -1px -1px 0px #000;
		filter: dropshadow(color=#000, offx=-1, offy=-1);  
	}
	#acceso a:hover {
		color: #00aeef;
	}
	
	#acceso li .line-verti {
		position: relative;
		top: 9px;
		padding: 0 2px 0 7px;
		font-size: 10px;
	}

	
	
/* MENU SUPERIOR 
-------------------------------------------------------*/
	

	
/* BUSCADOR
-------------------------------------------------------*/

	#buscador{
		font-weight: 300;
		font-size: 16px;
		color: #555555;
		/*line-height:*/: 40px;
	}
	#movil a {
		color: #b5afaf;
		font-weight: 100;
	}
	#movil a:hover {
		color: #00aeef;
		font-weight: 100;
	}
	
/* MENU PRINCIPAL
-------------------------------------------------------*/
	
	#menu-principal a {
		color: #FFF;
		font: 300 21px 'Lato', 'Open Sans', "Trebuchet MS";
		/*line-height:*/: 52px;
		display: inline;
		text-shadow: -1px -1px 0px #102631;
		filter: dropshadow(color=#102631, offx=-1, offy=-1);
	}
	#menu-principal a:hover {
		color: #FFF;
		font: 300 21px 'Lato', 'Open Sans', "Trebuchet MS";
		/*line-height:*/: 52px;
		display: inline;
		text-shadow: -1px -1px 0px #efa81a;
		filter: dropshadow(color=#efa81a, offx=-1, offy=-1);
	}
	.btn-programas {
		padding:  30px 18px;
		display: block;
	}
	.btn-programas:hover {
		background: url('../exportes/menu-principal_01.png') no-repeat center center;
		background-position: 0 17px;
	}
	
	.btn-extension {
		padding:  30px 22px;
	}
	.btn-extension:hover {
		background: url('../exportes/menu-principal_02.png') no-repeat center center;
		background-position: 0 17px;
	}
	
	.btn-cibercolegio {
		padding:  30px 22px;
		
	}
	.btn-cibercolegio:hover {
		background: url('../exportes/menu-principal_03.png') no-repeat center center;
		background-position: 0 17px;
	}
	
	.btn-institucion {
		padding:  30px 20px;
		display: block;
	}
	.btn-institucion:hover {
		background: url('../exportes/menu-principal_04.png') no-repeat center center;
		background-position: 0 17px;
	}
	.btn-cibercolegio {
		color: #FFF;
		font: 300 21px 'Lato', 'Open Sans', "Trebuchet MS";
		/*line-height:*/: 52px;
		display: inline;
		text-shadow: -1px -1px 0px #102631;
		filter: dropshadow(color=#102631, offx=-1, offy=-1);
	}
	
	
/* CONTENIDOR
-------------------------------------------------------*/
	
	#aside-menu ul li a {
		font-size: 12px;
		color: #333333;
	}
	#aside-menu ul li a:hover {
		color: #FFF;
		
	}
	
	.titulo-azul {
		font-size: 30px;
		font-weight: 600;
		color: #00aeef;
		letter-spacing: -1px;	
	}
	.titulo-azul:hover {
		color: #333;
	}
	.titulo-azulpeq {
		font-size: 22px;
		font-weight: 600;
		color: #00aeef;
		letter-spacing: -1px;
	}
	.titulo-azulpeq:hover {
		color: #333;
	}

	.list-carrera a {
		
		font-size: 11px;
		color: #333333;
	}
	.list-carrera a:hover {
		/*text-decoration: underline;*/
		background-color: #00aeef;
		color: #fff;
		padding: 2px 3px;
	}
	.list-carrera li {
		list-style-image:  url('../exportes/vineta.png');
		list-style-position:inside;
		font-size: 12px;
		color: #333333;
		/*line-height:*/: 20px;
		margin-bottom: 5px;
		position: relative;
		margin-left: 15px;
		text-indent: -1.5em;	
	}
	
	.list-grados a {
		color: #241F0E;	    		
		font-size: 13px;
		font-style: italic;
		font-weight: bold;	
	}
	.list-grados a:hover{
		/*text-decoration: underline;*/
		//background-color: #955C36;
		padding: 2px 3px;
	}
	.list-grados a:hover:before{
		background: none;
		content: url(../exportes/vineta_grados_before.png);
		padding: 4px;
	}
	.list-grados a:hover:after{
		background: none;
		content: url(../exportes/vineta_grados_after.png);
		padding: 3px;
	}
	.list-grados li {
		color: #333333;			
		/*line-height:*/: 25px;			
		//list-style-position:inside;
		margin-bottom: 5px;		
		margin-left: 15px;
		position: relative;
		text-indent: -1.5em;	
	}	
	    .list-grados li:hover{
			//list-style-image: url(../exportes/vineta_grados_before.png);
		}

	.titulaz {
		font-size: 22px;
		font-weight: 600;
		color: #00aeef;
		letter-spacing: -1px;
		display: block;
		margin-bottom: 5px;	
	}
	.titulaz:hover {
		color: #333;
	}
	.titulaz-ciberc {
		font-family: "Cabin Sketch", "Open Sans", "OpenSansRegular", "Trebuchet MS", sans-serif, Arial;
		font-size: 30px;
		font-weight:400;
		color: #00aeef;
		display: block;
		margin-bottom: 5px;	
	}
	.titulaz-ciberc:hover {
		color: #333;
	}
	
	/* PRINCIPAL CONTENIDOR
	--------------------------------------------*/
	article h3 {
		
	} 
	article p {
		/*line-height:*/: 20px;
		margin-top: 5px;
	}
	
	.link-item_noti {
		color: #4a4a4a;
		font-weight:600;
		letter-spacing: -1px;
		font-size: 22px;
	}
	.link-item_noti:hover {
		color: #00aeef;
	}
	
	.box-blue {
		color: #FFF;
		text-shadow: -1px -1px 0px #0266a2;
		filter: dropshadow(color=#0266a2, offx=-1, offy=-1);
	}
	.box-blue:hover {
		text-shadow: -1px -1px 0 #03436a;
		filter: dropshadow(color=#03436a, offx=-1, offy=-1);
	}
	.box-green {
		color: #FFF;
		text-shadow: -1px -1px 0px #80a138;
		filter: dropshadow(color=#80a138, offx=-1, offy=-1);
	}
	.box-green:hover {
		text-shadow: -1px -1px 0 #80a138;
		filter: dropshadow(color=#80a138, offx=-1, offy=-1);
	}
	
	/* PROGRAMACION CONTENIDOR
	--------------------------------------------*/
	#programa-conten-detalle .box-blue {
		font-size: 18px;
	}
	#programa-conten-detalle .box-green {
		font-size: 18px;
	}
	#form1 label {
		font-size: 12px;
		color: #333333;
		/*line-height:*/: 20px;
		margin-right: 10px;
		float: left;
		position: relative;
		top: 20px;
	}
	
	textarea {
		font-size: 12px;
		color: #333333;
		/*line-height:*/: 20px;
	}
	
	input [type='button'] {
		color: #FFF;
		font-size: 16px;
		margin-top: 10px;
	}
	#icon-inf h3 {
		position: relative;
		top: 20px;
	}
	#informacion p {
		font-size: 14px;
	}
	#informacion a {
		color: #00aeef;
		padding: 1px;
	}
	#informacion a:hover {
		color: #FFF;
		background-color: #00aeef;
		padding: 1px;
	}
	
	/* EXTENSION CONTENIDOR
	--------------------------------------------*/
	
	
	#aside-ext .box-blue {
		padding: 7px 12px;
		font-size: 20px;
		margin-bottom: 15px;
		display: inline-block;
	}
	#aside-ext .box-green {
		padding: 12px 15px;
		font-size: 20px;
		display: inline;
		
	}
	
	#aside-ext .box-green .textpeq {
		font-size: 10px;
		width: 105px;
		/*line-height:*/: 12px;
		display: inline-block;
		border-left: 1px solid #7da136;
		padding-left: 10px;
		position:relative;
		top: 10px;
	}
	#aside-ext .box-green span {
		padding-right: 5px;
	}
	
	/* NOTICIAS CONTENIDOR
	--------------------------------------------*/
	#comentario #box-naranja {
		font-size: 16px;
		
	}
	.idc-postnav {
		margin: 5px 0;
	}
	
	#form-comentario label {
		font-size: 12px;
		color: #333333;
		/*line-height:*/: 20px;
		margin-right: 10px;	
	}
	#form-comentario  input[type='button'] {
		color: #FFF;
		font-size: 12px;
	}
	.usuario .fecha-nombre {
		font-size: 13px;
	}
	
	.usuario .idc-i a.idc-v-up {
		color: #00aeef;
		background: url('../exportes/sprite-comentar.png') no-repeat left top;
		background-position-y: -22px;
		padding-left: 20px;
		width: 18px;
	}
	.usuario .idc-i a.idc-v-up:hover {
		background-position-y: -1px;
	}
	
	.usuario .idc-i a.idc-v-down {
		color: #00aeef;
		background: url('../exportes/sprite-comentar.png') no-repeat left top;
		background-position-y: -68px;
		padding-left: 20px;
		width: 18px;
	}
	.usuario .idc-i a.idc-v-down:hover {
		background-position-y: -46px;
	}
	.ultim-notic a {
		font-size: 16px;
	}
	.ultim-notic a:hover {
		font-size: 16px;
		background-color: #00aeef;
		
	}
	
	
	/* CIBERCOLEGIO ASIDE
	--------------------------------------------*/
	
	#aside-menu-cibe a {
		font-family: "Cabin Sketch", "Open Sans", "OpenSansRegular", "Trebuchet MS", sans-serif, Arial;
		font-weight: 700;
		font-size: 15px;
	}
	#menu-ciberco ul li{
		border-left: 2px solid #1897c7;
		padding: 0 14px;
		
	}
	#menu-ciberco ul li:last-child {
		border-right: none;
		border-left:none;
	}
	
	
	#aside-menu-cibe a {
		font-family: "Cabin Sketch", "Open Sans", "OpenSansRegular", "Trebuchet MS", sans-serif, Arial;
		font-weight: 700;
		font-size: 15px;
		
	}
	#menu-ciberco a {
		font-family: "Cabin Sketch", "Open Sans", "OpenSansRegular", "Trebuchet MS", sans-serif, Arial;
		font-weight: 700;
		font-size: 20px;
		color: #ffa800;	
	}
	#menu-ciberco a:hover {
		color: #FFF;
		background: #00aeef;
		padding: 2px 5px;	
	}
	
	/* AULA VIRTUAL ASIDE
	--------------------------------------------*/
	
	#aulavirtual-conten a.link-titulo {
		font: 600 22px 'Lato','Open Sans', "Trebuchet MS", Arial;
		color: #00aeef;
		text-shadow: -1px -1px 0px #FFF;
		filter: dropshadow(color=#FFF, offx=-1, offy=-1);
		letter-spacing: -1px;
	
	}
	
	#aulavirtual-conten a.link-titulo:hover {
	 	color: #333;
	 }
	
/* BREADCRUMB 
--------------------------------------------*/
	#breadcrumb span {
		color: #9d9d9d;
		font-size: 11px;
	}
	#breadcrumb a {
		color: #00aeef;
	}
	#breadcrumb a:hover {
		color: #fff;
		background-color:#00aeef;
		padding: 2px 4px;
		
	}
	

	
/* BOTONES (INSPRIP, MATRICU, AULA)
-------------------------------------------------------*/

	#botones a {
		font: 600 28px 'Lato','Open Sans', "Trebuchet MS", Arial;
		color: #00aeef;
		text-shadow: -1px -1px 0px #FFF;
		filter: dropshadow(color=#FFF, offx=-1, offy=-1);
		letter-spacing: -1px;
	}
	
	#botones a:hover {
		color: #333;
	}
	
	
/* FOOTER
-------------------------------------------------------*/	
	
	#pie li {
		font: 300 12px 'Open Sans', "Trebuchet MS";
		color: #FFF;
		padding: 12px 0;
	}
	

	#srosa h4 {
		font: 400 20px 'Open Sans', "Trebuchet MS";
		color: #FFF;
		text-shadow: -2px -2px 0px #1a1b1d;
		filter: dropshadow(color=#1a1b1d, offx=-1, offy=-1);
	}
	
	#med h4 {
		font: 400 20px 'Open Sans', "Trebuchet MS";
		color: #FFF;
		text-shadow: -2px -2px 0px #1a1b1d;
		filter: dropshadow(color=#1a1b1d, offx=-1, offy=-1);
	}
	
	#destacados-footer h4 {
		font: 400 20px 'Open Sans', "Trebuchet MS";
		color: #FFF;
		text-shadow: -2px -2px 0px #1a1b1d;
		filter: dropshadow(color=#1a1b1d, offx=-1, offy=-1);
	}
	
	#destacados-footer a {
		font: 300 12px 'Open Sans', "Trebuchet MS";
		color: #FFF;
		padding: 12px 0;
	}
	
	#destacados-footer a:hover {
		color: #00aeef;
	}
	
	#srosa a {
		color: #00aeef;
	}
	#srosa a:hover {
		color: #FFF;
		background-color: #00aeef;
		padding: 1px 2px;
	}
	
	#med a {
		color: #00aeef;
	}
	#med a:hover {
		color: #FFF;
		background-color: #00aeef;
		padding: 1px 2px;
	}
	.email {
		font: 300 12px 'Open Sans', "Trebuchet MS";
		color: #FFF;
		float: left;
	}
	
	.email a {
		font: 300 12px 'Open Sans', "Trebuchet MS";
		color: #00aeef;
	}
	.email a:hover {
		color: #FFF;
		background-color: #00aeef;
		padding: 1px 2px;
	}
	.copyright {
		font: 300 12px 'Open Sans', "Trebuchet MS";
		color: #FFF;
		float: right;
	}
	